block variables
doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=11")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=yes")

    title= title

    link(rel="stylesheet", href="https://use.typekit.net/yxr7qwu.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.1.6/dist/css/splide.min.css")
    link(rel="stylesheet", href="css/main.scss")

  body
    .content
      canvas.content__bg.js-content-bg
      include logo.pug
      include navigation.pug
      block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/1.0.0/anime.min.js")
    script(src="https://cdn.jsdelivr.net/npm/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.1.6/dist/js/splide.min.js")
    script(src="../js/colorchanging.js")
    script(src="js/index.ts")