html {
  font-family: $futura;
  color: $white;
  font-size: 10px;
}

h1 {
  font-size: 50px;
  font-family: $ambroise;
  color: $pink;
  letter-spacing: 0.1em;
  line-height: 1em;
  @include sp {
    font-size: 46px;
  }
}
