//color
$tuna: #353536;
$pink: #ffc0cb;
$white: #fff;

//font-family
$futura: 'futura-pt', sans-serif;
$ambroise: 'ambroise-std', serif;

//font-weight
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;
