.content {
  position: relative;
  width: 100%;
  height: 100vh;
  user-select: none;

  &__container {
    flex-direction: column;
    text-align: center;
    cursor: context-menu;
    padding: 0 5%;
    width: 100%;
    height: 100%;
    @include center;

    &--p100 {
      padding-top: 100px;
    }

    &--p40 {
      padding-top: 40px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__subtitle {
    font-weight: $medium;
    font-size: 18px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    @include sp {
      font-style: 14px;
    }
  }

  &__sns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    @include sp {
      margin-top: 50px;
    }
  }

  &__sns-icon {
    height: 20px;
    fill: $white;

    &--gitlab {
      height: 30px;
    }
  }

  &__sns-link {
    &:first-child {
      margin-right: 6px;
    }

    &:nth-child(2) {
      margin-right: 10px;
    }
  }

  &__introduction {
    font-weight: $medium;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: getem(16, 24);
    margin-top: 50px;
    @include sp {
      font-size: 14px;
      margin-top: 20px;
    }
  }

  &__slide-title {
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translateY(50%);
    writing-mode: vertical-rl;
    text-orientation: upright;
    @include sp {
      position: static;
      writing-mode: initial;
      text-orientation: initial;
    }

    &--right {
      left: auto;
      right: 0;
      @media screen and (max-width: 880px) {
        display: none;
      }
      @include sp {
        display: block;
      }
    }
  }
}
