.logo {
  position: fixed;
  top: 25px;
  left: 25px;
  font-family: $ambroise;
  font-weight: $bold;
  color: $pink;
  text-align: left;
  @include sp {
    top: 5px;
    left: 10px;
  }

  &__main-text {
    font-size: 36px;
    letter-spacing: 0.1em;
    @include sp {
      font-size: 32px;
    }
  }

  &__sub-text {
    font-size: 30px;
    letter-spacing: 0.1em;
    line-height: getem(30, 30);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    @include sp {
      font-size: 26px;
    }

    span {
      display: block;
    }
  }
}
