.navigation {
  position: fixed;
  padding-top: 80px;
  top: 0;
  left: 0;
  right: 0;
  font-weight: $medium;
  letter-spacing: 0.1em;
  font-size: 24px;
  z-index: 1;
  color: $pink;
  z-index: 100;
  @include sp {
    font-size: 22px;
    padding-top: 60px;
  }

  &__bg {
    position: absolute;
    z-index: -1;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    @include sp {
      width: 150px;
    }
  }

  &__list {
    @include center;
  }

  &__item {
    position: relative;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

    &:not(:last-child) {
      margin-right: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $pink;
      transform: scale(0);
      transition: 0.3s ease;
    }

    &:hover {
      &::before {
        transform: scale(1);
      }
    }
  }
}
