.skills {
  position: relative;
  @include center;
  @include sp {
    flex-direction: column;
  }

  &__content {
    width: 65%;
    @include sp {
      width: 100%;
      margin-top: 30px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $pink;
    transition: 0.3s ease;
    overflow: hidden;
    font-size: 0;
    margin: 0 auto;
    @include center;
    @include sp {
      width: 70px;
      height: 70px;
      padding-top: 0 !important;
    }
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s ease;

    &--cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }

    &--smaller {
      @include sp {
        max-width: 80%;
        max-height: 80%;
      }
    }

    &.pt23 {
      padding-top: 23px;
      @include sp {
        padding-top: 13px;
      }
    }
  }

  &__item {
    margin: 0 20px 15px;
    @include sp {
      margin: 0 10px 15px;
    }

    &:hover {
      .skills__image-container {
        border: 5px solid $tuna;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
      }
    }
  }

  &__text {
    display: block;
    text-align: center;
    white-space: nowrap;
    font-weight: $medium;
    font-size: 24px;
    letter-spacing: 0.1em;
    margin-top: 3px;
    @include sp {
      font-size: 16px;
    }
  }

  &__others {
    margin: 30px auto 0;
    display: block;
    max-width: 100%;
    @include sp {
      max-height: 20vh;
      margin-top: 0.5vh;
    }
  }
}
