.works {
  position: relative;
  width: 100%;
  max-width: 1036px;
  @include center;
  @include sp {
    flex-direction: column;
  }

  &__content {
    width: 726px;
    @include sp {
      width: 100%;
      margin-top: 30px;
    }
  }

  &__info {
    display: block;
    font-size: 18px;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    margin-top: -56px;
    @include sp {
      margin-top: 0;
      font-size: 14px;
    }
  }

  &__slider {
    width: 700px;
    margin: 20px auto 0;
    @include sp {
      max-width: 100%;
    }

    .splide__arrow {
      background: transparent;
      opacity: 1;
      width: 30px;
      height: 30px;
      @include sp {
        width: 20px;
        height: 20px;
      }

      svg {
        fill: $white;
        width: 30px;
        height: 30px;
        @include sp {
          width: 20px;
          height: 20px;
        }
      }

      &--prev {
        @include sp {
          left: -5%;
        }
      }

      &--next {
        @include sp {
          right: -5%;
        }
      }
    }
  }

  &__slide-content {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0 60px;
    @include sp {
      padding: 0;
    }
  }

  &__image-container {
    width: 400px;
    height: 195px;
    @include sp {
      max-width: 50%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__subimage-container {
    width: 175px;
    height: 293px;
    @include sp {
      max-width: 50%;
    }
  }

  &__title {
    text-align: left;
    color: $pink;
    font-family: $ambroise;
    font-size: 36px;
    letter-spacing: 0.05em;
    margin-top: 15px;
    @include sp {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  &__text {
    color: $pink;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: getem(16, 18);
    text-align: left;
    @include sp {
      font-size: 12px;
    }
  }
}
