extends includes/layout.pug
block content
  .splide.js-main-splide
    .splide__track
      ul.splide__list
        li.splide__slide
          .content__container
            h1 Mid 
              br.sp
              |Front-end Engineer
            span.content__subtitle I have 3 years experience in front-end and WordPress development.
            .content__sns
              a.content__sns-link(href="https://gitlab.com/Mariri", target="_blank")
                svg.content__sns-icon.content__sns-icon--gitlab(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 586 559' style='enable-background:new 0 0 586 559;' xml:space='preserve')
                  style(type='text/css').
                    .st0{fill:#FAFAFA;}
                    .st1{fill:#F0F0F0;}
                    .st2{fill:#FFFFFF;}
                    .st3{fill:#E24329;}
                    .st4{fill:#FCA326;}
                    .st5{fill:#FC6D26;}
                    .st6{fill:#8C929D;}
                    .st7{fill:#2E2E2E;}
                    .st8{fill:none;stroke:#FCA326;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                    .st9{fill:none;stroke:#FC6D26;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                    .st10{fill:none;stroke:#E24329;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                    .st11{fill:none;stroke:#F0F0F0;stroke-miterlimit:10;}
                    .st12{fill:#231F20;}
                    .st13{fill:none;stroke:#231F20;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                    .st14{display:none;}
                    .st15{display:inline;opacity:0.1;fill:#E828E3;}
                    .st16{display:inline;}
                    .st17{opacity:0.1;fill:#E828E3;}
                    .st18{font-family:'SourceSansPro-Semibold';}
                    .st19{font-size:24px;}
                    .st20{display:inline;fill:#DB3B21;}
                    .st21{display:inline;fill:#FC6D26;}
                    .st22{display:inline;fill:#2E2E2E;}
                    .st23{display:inline;fill:#6E49CB;}
                    .st24{display:inline;fill:#380D75;}
                    .st25{display:inline;fill:#FCA121;}
                    .st26{opacity:0.6;fill:none;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:12,6;}
                    .st27{fill:none;stroke:#444444;stroke-width:1.5339;stroke-miterlimit:10;}
                  g#logo_art
                    path.st2(d='M461.514,298.355l-18.049-55.587c0.008,0.025,0.011,0.051,0.019,0.076c-0.009-0.029-0.014-0.058-0.022-0.087\
                    c-0.001-0.002-0.001-0.003-0.001-0.005c0-0.001,0-0.002,0-0.002l-35.83-110.31c-1.96-5.811-7.353-9.711-13.536-9.663\
                    c-6.201,0.032-11.446,3.857-13.364,9.748L346.721,237.23H239.408l-34.074-104.712c-1.916-5.886-7.162-9.71-13.362-9.742\
                    c-0.025,0-0.049,0-0.075,0c-6.105,0-11.509,3.876-13.49,9.752l-35.732,110.211l-0.005,0.014c0,0.001,0,0.002,0,0.003\
                    c-0.009,0.028-0.013,0.056-0.022,0.084c0.008-0.025,0.011-0.051,0.019-0.076l-18.115,55.591c-2.725,8.392,0.232,17.512,7.36,22.697\
                    L288.328,434.7c0.023,0.017,0.049,0.027,0.072,0.044c0.067,0.048,0.132,0.097,0.2,0.142c-0.064-0.043-0.124-0.09-0.187-0.134\
                    c0,0,0-0.001-0.001-0.001c0.01,0.008,0.022,0.013,0.033,0.02c0.009,0.006,0.018,0.01,0.027,0.016\
                    c0.001,0.001,0.002,0.002,0.004,0.003c0.242,0.168,0.493,0.322,0.753,0.463c0.036,0.02,0.068,0.045,0.104,0.064\
                    c0.001,0,0.001,0.001,0.002,0.001c0.022,0.011,0.042,0.025,0.064,0.036c0.017,0.008,0.035,0.013,0.051,0.021\
                    c0.012,0.006,0.025,0.01,0.037,0.015c0.029,0.014,0.061,0.023,0.09,0.038c0.136,0.065,0.279,0.118,0.419,0.175\
                    c0.131,0.054,0.258,0.117,0.392,0.164c0.006,0.002,0.011,0.005,0.017,0.007c0.022,0.008,0.042,0.019,0.065,0.027\
                    c0.028,0.01,0.055,0.021,0.083,0.03c0.011,0.003,0.022,0.005,0.033,0.008c0.035,0.011,0.073,0.016,0.108,0.026\
                    c0.013,0.004,0.028,0.006,0.042,0.01c0.188,0.057,0.383,0.098,0.577,0.141c0.076,0.017,0.149,0.041,0.226,0.055\
                    c0.011,0.002,0.021,0.006,0.033,0.008c0.025,0.005,0.048,0.014,0.074,0.018c0.041,0.007,0.081,0.02,0.123,0.026\
                    c0.033,0.005,0.067,0.003,0.1,0.008c0.006,0.001,0.011,0,0.017,0.001c0.002,0,0.003,0,0.005,0c0.369,0.053,0.743,0.09,1.124,0.09\
                    c0.002,0,0.004,0,0.007,0l0,0c0.001,0,0.002,0,0.002,0c0,0,0.001,0,0.001,0c0.001,0,0.002,0,0.003,0\
                    c0.382,0,0.756-0.037,1.126-0.09c0.001,0,0.003,0,0.004,0c0.006-0.001,0.012,0,0.018-0.001c0.033-0.005,0.068-0.003,0.101-0.008\
                    c0.042-0.007,0.082-0.019,0.124-0.026c0.025-0.004,0.048-0.013,0.073-0.018c0.011-0.002,0.021-0.006,0.032-0.008\
                    c0.078-0.015,0.153-0.039,0.231-0.056c0.191-0.042,0.383-0.083,0.57-0.139c0.013-0.004,0.026-0.005,0.039-0.009\
                    c0.037-0.011,0.075-0.016,0.112-0.027c0.011-0.004,0.023-0.005,0.034-0.008c0.029-0.009,0.057-0.021,0.085-0.031\
                    c0.022-0.008,0.042-0.019,0.064-0.027c0.006-0.002,0.011-0.005,0.017-0.007c0.142-0.05,0.276-0.116,0.415-0.173\
                    c0.129-0.054,0.261-0.102,0.387-0.162c0.031-0.015,0.064-0.024,0.094-0.039c0.012-0.006,0.026-0.01,0.038-0.016\
                    c0.017-0.008,0.035-0.013,0.052-0.022c0.023-0.012,0.045-0.026,0.067-0.037c0,0,0.001,0,0.001-0.001\
                    c0.037-0.019,0.07-0.046,0.107-0.066c0.258-0.14,0.508-0.293,0.749-0.46c0.019-0.013,0.041-0.023,0.061-0.037\
                    c0.005-0.004,0.011-0.006,0.016-0.01c0.023-0.017,0.05-0.028,0.073-0.045l156.44-113.65\
                    C461.282,315.867,464.239,306.747,461.514,298.355z M394.194,142.774l30.68,94.456h-61.36L394.194,142.774z M419.501,253.202\
                    l-12.519,16.041L314.648,387.55l43.677-134.348H419.501z M285.428,430.707C285.428,430.707,285.428,430.707,285.428,430.707\
                    c0.008,0.024,0.021,0.046,0.029,0.071C285.449,430.753,285.436,430.731,285.428,430.707z M271.42,387.558L166.624,253.202l0,0\
                    h61.18L271.42,387.558z M191.875,142.773l30.737,94.457h-61.36L191.875,142.773z M141.304,308.133\
                    c-1.516-1.103-2.144-3.05-1.563-4.838l13.466-41.325l98.67,126.502L141.304,308.133z M288.053,434.489\
                    c-0.031-0.025-0.061-0.052-0.091-0.078c-0.006-0.005-0.012-0.012-0.019-0.017c-0.06-0.05-0.119-0.101-0.177-0.153\
                    c-0.114-0.099-0.226-0.2-0.333-0.306c0.009,0.008,0.019,0.015,0.028,0.023c0.012,0.011,0.025,0.02,0.037,0.031\
                    c0.229,0.219,0.47,0.425,0.722,0.615c0.003,0.002,0.005,0.005,0.008,0.007c0.012,0.009,0.022,0.02,0.034,0.03\
                    C288.193,434.591,288.121,434.543,288.053,434.489z M293.028,402.392l-25.665-79.059l-22.766-70.131h96.933L293.028,402.392z\
                    M298.281,434.241c-0.06,0.052-0.118,0.104-0.179,0.154c-0.007,0.006-0.014,0.013-0.021,0.019c-0.031,0.025-0.06,0.052-0.09,0.077\
                    c-0.066,0.053-0.138,0.101-0.207,0.152c0.012-0.009,0.022-0.021,0.035-0.029c0.002-0.002,0.004-0.004,0.006-0.006\
                    c0.252-0.19,0.492-0.394,0.719-0.613c0.009-0.009,0.02-0.016,0.029-0.024c0.012-0.011,0.025-0.02,0.036-0.031\
                    C298.503,434.043,298.392,434.143,298.281,434.241z M444.766,308.13l-110.557,80.317l98.703-126.467l13.412,41.307\
                    C446.906,305.083,446.279,307.03,444.766,308.13z')
                  g#spacing_guides.st14(xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
                    path#path40_63_.st15(sketch:type='MSShapeGroup' d='M0,0.5v124h586V0.5H0L0,0.5z')
                    path#path40_36_.st15(sketch:type='MSShapeGroup' d='M0,435.5v124h586v-124H0L0,435.5z')
                    path#path40_25_.st15(sketch:type='MSShapeGroup' d='M462.2,560h124V0h-124V560L462.2,560z')
                    g.st16
                      text.st18.st19(transform='matrix(1 0 0 1 511.2881 283.332)') 1x
                    g.st16
                      text.st18.st19(transform='matrix(1 0 0 1 281.2881 500.9979)') 1x
                    g.st16
                      text.st18.st19(transform='matrix(1 0 0 1 281.2881 65.9981)') 1x
                    path#path40_24_.st15(sketch:type='MSShapeGroup' d='M0,560h124V0H0V560L0,560z')
                    g.st16
                      text.st18.st19(transform='matrix(1 0 0 1 51.2881 283.332)') 1x
              a.content__sns-link(href="mailto:mvbasbas@gmail.com")
                svg.content__sns-icon#Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                  g
                    g
                      path(d='M479.536,58.794H32.464C14.564,58.794,0,73.358,0,91.258v329.483c0,17.9,14.564,32.464,32.464,32.464h447.072\
                      c17.9,0,32.464-14.564,32.464-32.464V91.258C512,73.358,497.436,58.794,479.536,58.794z M437.867,77.167L256,209.723\
                      L74.133,77.167H437.867z M57.569,434.832H32.464c-7.769,0-14.091-6.322-14.091-14.091V135.199l39.196,28.569V434.832z\
                      M436.057,434.832H75.943V177.161L250.59,304.457c1.611,1.175,3.51,1.763,5.41,1.763c1.9,0,3.8-0.588,5.41-1.763l174.647-127.297\
                      V434.832z M493.627,420.741c0,7.769-6.322,14.091-14.091,14.091h-25.105V163.768l39.196-28.569V420.741z M493.627,112.464\
                      L256,285.665L18.373,112.464V91.258c0-7.769,6.322-14.091,14.091-14.091h10.476L250.59,228.515c1.612,1.175,3.51,1.763,5.41,1.763\
                      c1.9,0,3.798-0.588,5.41-1.763L469.059,77.167h10.476c7.769,0,14.091,6.322,14.091,14.091V112.464z')
              a.content__sns-link(href="tel:09216031648")
                svg.content__sns-icon#Capa_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 473.806 473.806' style='enable-background:new 0 0 473.806 473.806;' xml:space='preserve')
                  g
                    g
                      path(d='M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5c-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4\
                      c-3.6-1.8-7-3.5-9.9-5.3c-29.6-18.8-56.5-43.3-82.3-75c-12.5-15.8-20.9-29.1-27-42.6c8.2-7.5,15.8-15.3,23.2-22.8\
                      c2.8-2.8,5.6-5.7,8.4-8.5c21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5c-6-6.2-12.3-12.6-18.8-18.6\
                      c-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7c-0.1,0.1-0.1,0.1-0.2,0.2l-34,34.3c-12.8,12.8-20.1,28.4-21.7,46.5\
                      c-2.4,29.2,6.2,56.4,12.8,74.2c16.2,43.7,40.4,84.2,76.5,127.6c43.8,52.3,96.5,93.6,156.7,122.7c23,10.9,53.7,23.8,88,26\
                      c2.1,0.1,4.3,0.2,6.3,0.2c23.1,0,42.5-8.3,57.7-24.8c0.1-0.2,0.3-0.3,0.4-0.5c5.2-6.3,11.2-12,17.5-18.1c4.3-4.1,8.7-8.4,13-12.9\
                      c9.9-10.3,15.1-22.3,15.1-34.6c0-12.4-5.3-24.3-15.4-34.3L374.456,293.506z M410.256,398.806\
                      C410.156,398.806,410.156,398.906,410.256,398.806c-3.9,4.2-7.9,8-12.2,12.2c-6.5,6.2-13.1,12.7-19.3,20\
                      c-10.1,10.8-22,15.9-37.6,15.9c-1.5,0-3.1,0-4.6-0.1c-29.7-1.9-57.3-13.5-78-23.4c-56.6-27.4-106.3-66.3-147.6-115.6\
                      c-34.1-41.1-56.9-79.1-72-119.9c-9.3-24.9-12.7-44.3-11.2-62.6c1-11.7,5.5-21.4,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1\
                      c6.3,0,11.4,3.8,14.6,7c0.1,0.1,0.2,0.2,0.3,0.3c6.1,5.7,11.9,11.6,18,17.9c3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3\
                      c10.6,10.6,10.6,20.4,0,31c-2.9,2.9-5.7,5.8-8.6,8.6c-8.4,8.6-16.4,16.6-25.1,24.4c-0.2,0.2-0.4,0.3-0.5,0.5\
                      c-8.6,8.6-7,17-5.2,22.7c0.1,0.3,0.2,0.6,0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8\
                      c4.1,2.6,8.3,4.7,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3c0.4,0.2,0.8,0.5,1.2,0.7c3.4,1.7,6.6,2.5,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9\
                      l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5c6.2,0,11.3,3.9,14.4,7.3c0.1,0.1,0.1,0.1,0.2,0.2l55.1,55.1\
                      C420.456,377.706,420.456,388.206,410.256,398.806z')
                      path(d='M256.056,112.706c26.2,4.4,50,16.8,69,35.8s31.3,42.8,35.8,69c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2\
                      c7.4-1.2,12.3-8.2,11.1-15.6c-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3,3.7-15.6,11\
                      S248.656,111.506,256.056,112.706z')
                      path(d='M473.256,209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2,3.7-15.5,11\
                      c-1.2,7.4,3.7,14.3,11.1,15.6c46.6,7.9,89.1,30,122.9,63.7c33.8,33.8,55.8,76.3,63.7,122.9c1.1,6.6,6.8,11.2,13.3,11.2\
                      c0.8,0,1.5-0.1,2.3-0.2C469.556,223.306,474.556,216.306,473.256,209.006z')
            .content__introduction
              p Hello! You can call me Mariel or Mari. I love video games, cats, dogs, and COODING.
              p NICE TO MEET YOU. You may email me for inquiries.
        li.splide__slide
          .content__container.content__container--p100
            .skills
              h1.content__slide-title SKILLS
              .skills__content
                .skills__list
                  .skills__item
                    .skills__image-container
                      img.skills__image(src="/img/skills/pug.png", alt="PUG", style="padding-top: 13px;")
                    span.skills__text PUG
                  .skills__item
                    .skills__image-container
                      img.skills__image.skills__image--smaller(src="/img/skills/sass.png", alt="SASS")
                    span.skills__text SASS
                  .skills__item
                    .skills__image-container
                      img.skills__image.skills__image--smaller(src="/img/skills/bem.png", alt="BEM")
                    span.skills__text BEM
                  .skills__item
                    .skills__image-container
                      img.skills__image.skills__image--smaller.pt23(src="/img/skills/triangle.png", alt="ITCSS")
                    span.skills__text ITCSS
                  .skills__item
                    .skills__image-container
                      img.skills__image.skills__image--cover(src="/img/skills/typescript.png", alt="Typescript")
                    span.skills__text Typescript
                  .skills__item
                    .skills__image-container
                      img.skills__image(src="/img/skills/wordpress.png", alt="Wordpress")
                    span.skills__text Wordpress
                  .skills__item
                    .skills__image-container
                      img.skills__image.skills__image--cover(src="/img/skills/photoshop.png", alt="Photoshop")
                    span.skills__text Photoshop
                img.skills__others(src="/img/skills/other-skills.png", alt="Other skills")
        li.splide__slide
          .content__container.content__container--p40
            .works
              h1.content__slide-title.content__slide-title--right WORKS
              .works__content
                span.works__info Here are some of my sample works.
                  br
                  |Message me for more inquiries regarding my works.
                .works__slider.splide.js-sub-splide
                  .splide__track
                    ul.splide__list
                      li.splide__slide.works__slide
                        .works__slide-content
                          .works__image-container
                            img.works__image(src="/img/works/kometa.jpg", alt="KoMETA Virtual Live")
                            h2.works__title KoMETA Virtual Live
                            .works__text
                              p FREELANCE
                                br
                                |2021
                          .works__subimage-container
                            img.works__image(src="/img/works/kometa-sp.jpg", alt="KoMETA Virtual Live")
                      li.splide__slide.works__slide
                        .works__slide-content
                          .works__image-container
                            img.works__image(src="/img/works/dx-platform.jpg", alt="DX Platform")
                            h2.works__title DX Platform
                            .works__text
                              p COMPANY WORK
                                br
                                |2021
                          .works__subimage-container
                            img.works__image(src="/img/works/dx-platform-sp.jpg", alt="DX Platform")
                      li.splide__slide.works__slide
                        .works__slide-content
                          .works__image-container
                            img.works__image(src="/img/works/coolex.jpg", alt="Coolex")
                            h2.works__title Coolex
                            .works__text
                              p COMPANY WORK
                                br
                                |2021
                          .works__subimage-container
                            img.works__image(src="/img/works/coolex-sp.jpg", alt="Coolex")